{
    "openapi": "3.0.1",
    "info": {
        "description": "The GOV.UK Notify REST API. Read [our documentation](https://www.notifications.service.gov.uk/using-notify/api-documentation) for more details.",
        "title": "GOV.UK Notify API",
        "version": "1.0.3"
    },
    "servers": [
        {
            "url": "https://api.notifications.service.gov.uk"
        }
    ],
    "tags": [
        {
            "name": "Send a message"
        },
        {
            "name": "Get message status"
        },
        {
            "name": "Get a template"
        },
        {
            "name": "Get received text messages"
        }
    ],
    "paths": {
        "/v2/notifications/sms": {
            "$ref": "POST_notification_sms.json#"
        },
        "/v2/notifications/email": {
            "$ref": "POST_notification_email.json#"
        },
        "/v2/notifications/letter": {
            "$ref": "POST_notification_letter.json#"
        },
        "/v2/notifications/{notification_id}": {
            "$ref": "GET_status_message.json#"
        },
        "/v2/notifications": {
            "$ref": "GET_status_messages.json#"
        },
        "/v2/notifications/{notification_id}/pdf": {
            "$ref": "GET_PDF_For_Letter.json#"
        },
        "/v2/received-text-messages": {
            "$ref": "GET_received_text_messages.json#"
        },
        "/v2/templates": {
            "$ref": "GET_templates.json#"
        },
        "/v2/template/{template_id}": {
            "$ref": "GET_template_by_id.json#"
        },
        "/v2/template/{template_id}/version/{version}": {
            "$ref": "GET_template_by_id_and_version.json#"
        },
        "/v2/template/{template_id}/preview": {
            "$ref": "POST_template_preview.json#"
        }  
    },
    "components": {
        "schemas": {},
        "securitySchemes": {
            "BearerAuth": {
                "description": "GOV.UK Notify authenticates API calls with [OAuth2 HTTP bearer tokens](http://tools.ietf.org/html/rfc6750). You need to use an `\"Authorization\"` HTTP header to provide your API key, with a `\"Bearer\"` prefix. For example: `Authorization: Bearer {YOUR_API_KEY_HERE}`",
                "scheme": "bearer",
                "type": "http"
            }
        }
    }
}